<div style="text-align: center;">
    <div style="position: relative;">
        <h3 class="dsaodmsa">Pétalos</h3>
        <img loading="lazy"  src="assets/img/petalos/Grupo 3 copia 4.png" alt="" class="dsaodasod">
    </div>
    <p class="dsaodsa">
        Envuelve tu hogar con un acogedor aroma florar gracias a nuestros pétalos naturales de rosas perfumados,
        la fragancia concentrada de rosa asegura un efecto intenso y prolongado en los pétalos,
        también le puedes dar uso para esos momentos románticos y fechas especiales.
    </p>

    <div class="row dasodoa"  >
        <div class="col-6 " style="text-align: left;">
            <img loading="lazy"  [src]="petalos[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas2">WC Blanco</span>
        </div>
        <div class="col-6">
            <img loading="lazy"  src="assets/img/flecha izquierda azul para fondo blanco.png" (click)="previoPetalos()" class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
            <img loading="lazy"  [src]="petalos[petalosContador].src" class="img-fluid dnsadosamdoa" style="    margin-left: 30px;  margin-right: 30px;">
            <img loading="lazy"  src="assets/img/flecha derecha azul para fondo blanco.png" (click)="nextPetalos()"  class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
        </div>
    </div>


    <div style="padding: 2rem;">
        <img loading="lazy"  src="assets/img/flecha de siguiente.png" (click)="goToNext()" style="cursor: pointer;" alt="">
    </div>
</div>