<div style="text-align: center;">
    <div style="position: relative;">
        <h3 class="dsaodmsa">Los Absorbe olores</h3>
        <img src="assets/img/absorbeOlores/Grupo 10 copia.png" alt="" class="dsaodasod">
    </div>
    <p class="dsaodsa" style="padding-bottom: 0rem;">
        está gama ofrecen una gran ayuda a los diferentes espacios de tu armario, baño, cavas, cuarto y nevera, 
        estos actuan con una super accion para eliminar todo tipo de olores
    </p>
    <p class="dsaodsa" style="padding-top: 0rem;">
        El absorve humedad son bolsitas de reposicion en envases de absorber humedad como también en los envases de frigorifico y absorbe olores
    </p>
    <div class="row dasodcs" >
        <div class="col-12 " style="text-align: left;">
            <img [src]="absorbeVerde[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas">Absorbe olores</span>
        </div>
    </div>
    <div class="row dasodoa"  >
        <div class="col-12 " style="text-align: left;">
            <img [src]="absorbeHumedad[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas2">Absorbe humedad recambio universal</span>
        </div>
    </div>
    <div class="row dasodcs" >
        <div class="col-12 " style="text-align: left;">
            <img [src]="absorbeFrigorifico[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas">Absorbe olores frigorifico</span>
        </div>
    </div>


    <div style="padding: 2rem;">
        <img src="assets/img/flecha de siguiente.png" (click)="goToNext()" style="cursor: pointer;" alt="">
    </div>
</div>