<div style="text-align: center;">
    <div style="position: relative;">
        <h3 class="dsaodmsa">Colgadores</h3>
        <img src="assets/img/colgadores/Grupo 3 copia 2.png" alt="" class="dsaodasod">
    </div>
    <p class="dsaodsa">
        Nuestros <strong>ambientadores colgadores</strong> envuelven a tu armario o closet en una fragancia floral y frutal que mantienen tus prendas frescas y perfumadas,
         son ideales para espacios  con poco espacio gracias a su formato plano, están en las diferentes presentaciones: <strong>Colgador antipolilla,
            Colgador 2x1, Desodor, el Modelo stick</strong> está pensado en la cara interior de los baños, armarios y también se le puede dar uso en los vehículos,
           estos vienen en envases de dos unidades
    </p>
    <div class="row dasodcs"  >
        <div class="col-6 " style="text-align: left;">
            <img [src]="colgadores[4].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas">Colgador ambientador</span>
        </div>
        <div class="col-6">
            <img src="assets/img/flecha izquierda blanca para fondo azul.png" (click)="previo()" class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
            <img [src]="colgadores[colgadoresContador].src" class="img-fluid dnsadosamdoa" style="    margin-left: 30px;  margin-right: 30px;">
            <img src="assets/img/flecha derecha blanca para fodno azul.png" (click)="next()"  class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
        </div>
    </div>
    <div class="row dasodoa"  >
        <div class="col-6 " style="text-align: left;">
            <img [src]="dosxunos[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas2">2 x 1</span>
        </div>
        <div class="col-6">
            <img src="assets/img/flecha izquierda azul para fondo blanco.png" (click)="previoDosPorUno()" class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
            <img [src]="dosxunos[dosxunosContador].src" class="img-fluid dnsadosamdoa" style="    margin-left: 30px;  margin-right: 30px;">
            <img src="assets/img/flecha derecha azul para fondo blanco.png" (click)="nextDosPorUno()"  class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
        </div>
    </div>
    <div class="row dasodcs"  >
        <div class="col-6 " style="text-align: left;">
            <img [src]="desodores[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas">Desodor</span>
        </div>
        <div class="col-6">
            <img src="assets/img/flecha izquierda blanca para fondo azul.png" (click)="previoDesodores()" class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
            <img [src]="desodores[desodoresContador].src" class="img-fluid dnsadosamdoa" style="    margin-left: 30px;  margin-right: 30px;">
            <img src="assets/img/flecha derecha blanca para fodno azul.png" (click)="nextDesodores()"  class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
        </div>
    </div>
    <div class="row dasodoa"  >
        <div class="col-6 " style="text-align: left;">
            <img [src]="antipolillas[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas2">Antipolilla</span>
        </div>
        <div class="col-6">
            <img src="assets/img/flecha izquierda azul para fondo blanco.png" (click)="previoAntipolilla()" class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
            <img [src]="antipolillas[antipolillasContador].src" class="img-fluid dnsadosamdoa" style="    margin-left: 30px;  margin-right: 30px;">
            <img src="assets/img/flecha derecha azul para fondo blanco.png" (click)="nextAntipolilla()"  class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
        </div>
    </div>
    <div class="row dasodcs"  >
        <div class="col-6 " style="text-align: left;">
            <img [src]="sticks[0].src" class="img-fluid dnsadosamdoa" style="    margin-right: 50px;">
            <span class="dsaodmas">Stick</span>
        </div>
        <div class="col-6">
            <img src="assets/img/flecha izquierda blanca para fondo azul.png" (click)="previoSticks()" class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
            <img [src]="sticks[sticksContador].src" class="img-fluid dnsadosamdoa" style="    margin-left: 30px;  margin-right: 30px;">
            <img src="assets/img/flecha derecha blanca para fodno azul.png" (click)="nextSticks()"  class="img-fluid dnsadosamdoa2" style="cursor: pointer;">
        </div>
    </div>

    <div style="padding: 2rem;">
        <img src="assets/img/flecha de siguiente.png" (click)="goToNext()" style="cursor: pointer;" alt="">
    </div>
</div>