<div style="text-align: center;">
    <div style="position: relative;">
        <h3 class="dsaodmsa">¿Quienes Somos?</h3>
    </div>
    <p class="dsaodsa">
        La sociedad anónima <strong>AS import Global</strong>, ubicada en la región oriental de Venezuela es una extensión de la naviera AS ATLANTIC, cuya función es la atención de barcos de carga generales trayendo consigo logros en el área marítima, es por ellos que con la experiencia dentro de los mercados del comercio internacional decidimos aportar dentro del medio de las importaciones de consumo masivo trayendo los mejores productos y marcas originales de Europa y América
    </p>
    <div style="position: relative;">
        <h3 class="dsaodmsa">Objetivos</h3>
    </div>
    <p class="dsaodsa">
        Crecer dentro del mercado de consumo masivo con productos de calidad y al menor costo posible
        con la finalidad que los usuarios tenga una mejor calidad de vida con cada unos de los rubros
        que traemos pensando siempre en ellos.        
    </p>
    <div style="position: relative;">
        <h3 class="dsaodmsa">Vision</h3>
    </div>
    <p class="dsaodsa">
        Lograr realizar una fábrica en nuestro país y así poder generar empleos directos
        e indirectos con la finalidad de aportar dentro de la región
    </p>
    <div style="position: relative;">
        <h3 class="dsaodmsa">Misión</h3>
    </div>
    <p class="dsaodsa">
     Trabajar a diario y convencer de que es posible llegar hasta sus hogares con cada uno de los productos que nos propongamos a introducir en el mercado venezolano
    </p>



    <div style="padding: 2rem;">
        <img loading="lazy"  src="assets/img/flecha de siguiente.png" (click)="goToNext()" style="cursor: pointer;" alt="">
    </div>
</div>