

 .dsadsadas img{
    transition: transform .3s; 
}
 
.dsadsadas img:hover {
    /* transform: scale(0.8);  */
    opacity: 0.2;
    cursor: pointer;
}

.col-6{
  background: #016dc0;
}




 .dsoadmaosd{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }


  .dsoadmaosd2{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
  }


  /* .dsadsadas .dsoadmaosd{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: auto;
    height: auto;
  } */