.dosamdoasd{
    position: absolute;
    bottom: 0px;
    right: 100px;
    width: 350px;

}

.dsaod{
    position: absolute;
    color: white;
    right: 120px;
    top: 50px;
    font-size: 16px;
}

.dsaodmsaod{
    color: #016dc0;
    font-size: 20px;
    font-weight: 600;
}


.dsoadmaosd{
    display: block;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #016dc0;
    font-size: 70px;
    font-weight: 700;

  }

  .dasodmsao{
    background: #016dc0;
    color: white;
  }

  .dasodmsao::placeholder {
    color: white;
  }

  .asomdasod{
    margin-top: 0.9px;
    background: #016dc0;
    margin-bottom: 0.9px;
  }

  .dsaodnsa{
    width: 80px;
    height: 80px;
    position: absolute;
  }