/* You can add global styles to this file, and also import other style files */
.dnsadosamdoa{
    height: 100px;
}

.dnsadosamdoa2{
    height: 50px;
}

.dsaodmas{
    color: white;
    font-size: 30px;
    font-weight: 700;
}


.dsaodmasdsa{
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.dsaodmasdsa2{
    color: #016dc0;
    font-size: 13px;
    font-weight: 700;
}

.dsaodmas2{
    color: #016dc0;
    font-size: 30px;
    font-weight: 700;
}


.dsaodsa{
    text-align: justify;
    padding: 3rem;
    font-size: 20px;
    font-weight: 500;
    color: #016dc0;
}


.dsaodmsa{
    padding: 1rem;
    text-align: left;
    padding-left: 3rem;
    font-size: 40px;
    color: #016dc0;
    font-weight: 700;
}


.dsaodasod{
    position: absolute;
    bottom: -30px;
    width: 400px;
    right: 15px;
}

.dasodoa{
    padding: 2rem;
    background: white;
    margin-left: 0.5px;
    margin-right: 0.5px;
    border-bottom: 1px solid #016dc0;
    border-top: 1px solid #016dc0;
}

.dasodcs{
    padding: 2rem;
    background: #016dc0;
    margin-left: 0.5px;
    margin-right: 0.5px;
}